<div class="container">
  <h1><%= @group.title %></h1>
  <p><%= @group.description %></p>
  <%= link_to "New Post", new_group_post_path(@group), class: "btn btn-primary pull-right" %>
  <table class="table">
    <thead>
      <tr>
        <th>Content of post</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <% @group.posts.each do |p| %>
        <tr>
          <td><%= p.content %></td>
          <td><%= p.user.name %></td>
          <td>
            <% if is_editable?(p) %>
              <div class="btn-group pull-right">
                <%= link_to "Edit", edit_group_post_path(@group, p), class: "btn btn-info" %>
                <%= link_to "Delete", group_post_path(@group, p), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>