<h1>My Groups</h1>
<table class="table">
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Post Count</th>
    <th>Last Update</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.title %></td>
        <td><%= group.description %></td>
        <td><%= group.posts.size %></td>
        <td><%= group.updated_at %></td>
        <td>
          <%= link_to "Edit", edit_group_path(group), class: "btn btn-primary" %>
          <%= link_to "Delete", group_path(group), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>